body                           { background: #333; }

#page-wrap:after               { content: "Smartphone Layout"; }

h2 span, section h3, label.rem, #tema_column
                               { display: none; }
body                           { font-size: xx-large; }
input, button , select, td     { font-size: x-large; }
td                             { padding: 0; }
footer, h4                     { font-size: large; }
select, input[type="text"], input[type="password"], #search, #tema_search
                               { width: 260px; }
form input[value="Buscar"]     { display: block; margin: 5px auto 0; }

#login, #password		           { width: 315px; }

#author_video 			           { width: 100%; }
