body                           { background: #333; }

#page-wrap:after               { content: "Smartphone Layout"; }

h2 span, section h3, label.rem { display: none; }
body                           { font-size: xx-large; }
input, button                  { font-size: x-large; }
footer, h4                     { font-size: large; }

#author_video 			            { width: 100%; }
