*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%;
	                     margin-bottom: 1px; color: black; }

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center; }
footer               { background: #eee; text-align: center; }
footer a             { padding: 0 5px; }
nav span             { margin: 0px 10px 0px 0px; }
button, input[type="submit"]
										 { padding: 2px; -webkit-appearance: push-button; -webkit-user-select: none; white-space: pre; }

#errorMsgs           { display: inline-block; text-align: left; color: #f61; font-size: smaller; }

form label					 { display: block; }
label[for="search"]	 { display: inline; }
#questions_table		 { margin: 5px auto; text-align: left; }
#all_questions			 { display: block; margin-top: 5px; }

#preg, #resp				 { margin-bottom: 5px; }

#author_img          { display: block; margin: 10px auto; height: 150px; }
#author_video 			 { width: 400px; }
