body             { background: #999; }

#page-wrap:after { content: "Wide Layout"; }

nav              { width: 15%; text-align: left; }
nav span         { margin: 0px 100px 0px 0px; }
section          { margin-left: auto; width: 80%; min-height: 200px; }

#main_panel      { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
