<form method="get" action="/quizes">
  <label for="search">Buscar preguntas:</label>
	<input type="text" name="search" id="search" value="<%= search %>" placeholder="Texto a buscar" />
	<input type="submit" value="Buscar" />
</form>

<table id="questions_table">
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr><td>- <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
  <% } %>
</table>

<a href="/quizes/new"><button type="button">Crear pregunta</button></a>

<% if(search) { %>
 <a href="/quizes" id="all_questions">Mostrar todas las preguntas</a>
<% }; %>
