<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <label for="respuesta"><%= quiz.pregunta %></label>
  <input type="text" name="respuesta" id="respuesta" value="" placeholder="Respuesta" />
  <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<div id="comments">
  <p><strong>Comentarios:</strong></p>
  <%for(index in quiz.Comments){%>
    <p>- <%=quiz.Comments[index].texto%></p>
  <%}%>
</div>
